<<<<<<< HEAD
.boldClass {
  font-weight:bold;
}

.italicClass{
  font-style:italic;
}
.colonClass{
  color:red;
=======
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
>>>>>>> 75023a1490b9af23c33c7b79d6b76516a70f45fa
}
